header {
    position: sticky;
    top: 0;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    transition: background-color 0.3s ease-in-out;
    z-index: 1000;
}

header.scrolled{
    background-color:#1F2229;
}

.logo img{
    width: 43px;
}
.logo:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}
nav {
    display: flex;
    gap: 15px;
}
nav a{
    color:#FFFFFF;
    text-decoration: none;
    padding: 10px;
    transition: color 0.3s ease-in-out;
}
nav a:hover{
    color: #8800FF;
    transform: scale(1.1);
}