/* Seção de início */
.nome, .dev{
    margin: 10px;
    font-weight: bold;
    text-align: center;
}

.nome{
    font-size: 70px;
}

.dev{
    font-size: 50px;
    border-right: 4px solid #8800FF;
    width: 17ch;
    overflow: hidden;
    white-space: nowrap;
    color: #8800FF;
    animation: blinkMarker 0.5s infinite, typing 5s steps(17) infinite ;
}