html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(180deg, #151925, #3e0294);
    color:#FFFFFF;
    width: 100%;
    text-align: left;
    overflow-x: hidden;
}

/* Estilização geral das seções */
section {
    padding: 20px;
}
.section_center {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 1;
    padding-top: 50px;
}

.main_section_center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 1;
    padding-top: 50px;
}

.section_title{
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: bold;
}
/* Partículas */
#particles-js {
    position: fixed;
    inset: 0;
    z-index: -1;

}
